body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 2000px;
}
body::-webkit-scrollbar{
    width: 0;
}
.principal{
    width: 100vw;
    height: 100vh;
    background-image: url(img/stars-g9b0172847_1280.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: fixed;
}

.container1{
    width: 49vw;
    height: 95vh;
    border: solid rgba(46, 46, 46, 0.50);
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    position: relative;
    top: 4%;
    perspective: 1500px;
    perspective-origin: 50% 0;
}
.container2{
    width: 49vw;
    height: 95vh;
    border: solid rgba(46, 46, 46, 0.50);
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    position: relative;
    top: 4%;
}
.caja1{
    position: absolute;
    right: -20%;
    scale: .3;
    width: 300px;
    height: 300px;
    background-image: url(img/mars-g32fc4f767_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgb(66, 66, 66);
}
.caja2{
    position: absolute;
    right: -11%;
    top: 80px;
    scale: .5;
    width: 300px;
    height: 300px;
    background-image: url(img/pngwing.com.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgb(66, 66, 66);
}
.caja3{
    position: absolute;
    right: 2%;
    top: 200px;
    scale: .8;
    width: 300px;
    height: 300px;
    background-image: url(img/sun-g2f21e5f26_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgb(66, 66, 66);
    transform: translate3d(0 0 -200px);
    perspective: 3000px;
    transform-style: preserve-3d;
    perspective-origin: 50%;
    will-change: transform;
}
.caja4{
    position: absolute;
    left: -20%;
    scale: .3;
    width: 300px;
    height: 300px;
    background-image: url(img/mars-g32fc4f767_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgb(66, 66, 66);
}
.caja5{
    position: absolute;
    left: -11%;
    top: 80px;
    scale: .5;
    width: 300px;
    height: 300px;
    background-image: url(img/pngwing.com.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgb(66, 66, 66);
}
.caja6{
    position: absolute;
    left: 2%;
    top: 200px;
    scale: .8;
    width: 300px;
    height: 300px;
    background-image: url(img/sun-g2f21e5f26_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: solid rgb(66, 66, 66);
}