/* selector generico, modifica todo */

* {
    /* box-sizing: border-box 
    si defino una caja de 100px y agrego 1 borde de 10px la caja sigue de 100 y el borde es interno
    si no agrego la sieuient propiedad el borde sera ecterno = 110px*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: agrega tipografia*/
    font-family: "Roboto";
    font-size: 13px;
}


/* selector de tipo nombre de etiqueta */

p {
    color: black;
}

main {
    background-color: rgb(56, 39, 39);
    color: rgb(247, 244, 244);
}

main p {
    font-size: 36 px;
}

a {
    display: inline-block;
    text-decoration: none;
}

header {
    /*padding: agrega margen pero interno 
    se maneja igual que margin*/
    padding: 15px 0;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    /*lo coloca sobre la imagen*/
    background-color: rgb(2, 2, 2);
    width: 100%;
}

header .container {
    /* selecciona la los container que pertenecen al header */
    /* display: inline-block;
    display permite cambiar el comportamiento de un elemento
    */
    display: flex;
    /*  inline: coloca el elemento
        inline-block: coloca el elemento respetando la altura que le demos
        flex: aprobecha el espacio que tenga el elemento para acomodar a sus elementos hijos 
    */
    /* stify-content: propiedad que trabaja en base al eje, permite alinear
    */
    justify-content: space-between;
    /*
    space-between distribuye los elementos manteniend el espacio entre ellos
    */
    /*align-items alinea en el eje Y*/
    align-items: center;
    height: 3.5rem;
}


/* selecciona el elemento logo que pertenece a container que pertenecen al header */

header .container .logo {
    width: 17rem;
}


/* selecciona los a que pertenece a container que pertenecen al header */

header .container nav a {
    color: red;
    /* text-decoratio permite poner o quitar lineas de subrayado de los textos*/
    /*text-decoration: none;*/
    text-decoration: none;
    font-size: 99%;
    margin: 0 15px;
    font-size: 1.5rem;
}

header .container .hamb {
    display: none;
}

footer {
    background-color: black;
    color: white;
    padding-top: 3rem;
}

footer p {
    color: white;
    margin-bottom: 30px;
}

footer a {
    color: white;
}

footer .barra-footer {
    background-color: grey;
    text-align: center;
    height: 2.5rem;
    padding-top: 10px;
}

footer .logo-footer {
    width: 10rem;
}

footer .redes {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

footer .redes a {
    margin: 0 7.5px;
}

footer ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer ul li {
    margin-bottom: 15px;
}


/*
.row {


    align-items: center;

}
*/


/* selector de tipo clase */

#cuerpo {
    background-color: beige;
}

.container {
    /*width: fija el ancho*/
    width: 100%;
    height: 30%;
    /*margin fija margen inferior e inferior y el derecho e izquierdo los deja automatico*/
    /* con 2 elementos el primero es arriba y abajo y el segundo izquierda derecha*/
    /* con 4 elementos el primero es arriba 2do derecha 3ro abajo y 4to izquierda*/
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    display: flex;
}


/*
.container-fluid {*/


/*width: fija el ancho*/


/*   width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}*/

.seccion {
    padding-top: 60px;
    padding-bottom: 60px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*si no entra la columna la envia para abajo*/
    margin-left: -15px;
    margin-right: -15px;
}

.columna {
    padding-right: 15px;
    padding-left: 15px;
}

.columna-25 {
    width: 25%;
}


/*----------------------------------------------------------------*/


/* Defino el nombre para cada area de seccion formulario          */


/*----------------------------------------------------------------*/

.grid_form {
    grid-area: form_grid;
}

.grid_empleado {
    grid-area: empleado_grid;
}

.grid_iframe {
    padding: 10px;
    grid-area: iframe_grid;
}

.formulario {
    text-align: center;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    /* Distribuimos el contenido en cada fila */
    grid-template-areas: " form_grid iframe_grid empleado_grid";
    /*width: fija el ancho*/
    width: 100%;
    /*margin fija margen inferior e inferior y el derecho e izquierdo los deja automatico*/
    /* con 2 elementos el primero es arriba y abajo y el segundo izquierda derecha*/
    /* con 4 elementos el primero es arriba 2do derecha 3ro abajo y 4to izquierda*/
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.formulario>div {
    width: 100%;
    height: 100%;
}

.formulario p {
    color: yellow;
    text-decoration: underline;
}


/*----------------------------------------------------------------*/


/* Defino el nombre para cada area de seccion formulario          */


/*----------------------------------------------------------------*/

.foot_img {
    grid-area: img_grid;
    width: 100%;
}

.foot_img>img {
    width: 100%;
}

.foot_autores {
    grid-area: autores_grid;
}

.foot_redes {
    grid-area: redes_grid;
}

.foot_temas {
    grid-area: temas_grid;
}

.foot {
    grid-template-columns: 25% 25% 25% 25%;
    /* Distribuimos el contenido en cada fila */
    grid-template-areas: " img_grid temas_grid autores_grid redes_grid";
    text-align: center;
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}


/*----------------------------------------------------------------*/


/* Definimos el contenedor grid                                   */


/*----------------------------------------------------------------*/

.grid_container {
    display: grid;
    /* Uso un atajo para definir tres filas / tres columnas */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* separamos los items con gap */
    gap: 10px;
    /* Hacemos que el diseño ocupe casi el alto total del navegador */
    /* height: 90vh; */
    padding: 10px;
    background-color: beige;
}

.grid_imagen {
    width: 100%;
    text-align: center;
    border: 2px solid black;
}

.grid_imagen_size {
    width: 100%;
}


/* selector de tipo ID */

#inicio {
    /*position: hay 4 estatica, relativa, absoluta y fixed*/
    position: relative;
    display: grid;
    /*relative: permite mover el block pero mantiene el espacio que deberia ocupar por defecto*/
    /*absolute: permite mover el blocky no mantiene 
        el espacio que deberia ocupar por defecto, 
        pero solo funciona si su padre es tambien relativo o absoluto*/
    /*fixed:    permite fijar la posicion, al moverse por la panalla parece que te sigue*/
    width: 100%;
    min-height: 50vh;
    height: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    /*display: flex;
    align-items: flex-end;*/
    background-image: url(../imagenes/Birra1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#inicio h2 {
    font-family: fantasy;
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    text-shadow: 2px 2px 5px black;
    position: relative
}

#inicio p {
    font-family: fantasy;
    color: rgb(255, 255, 255);
    /*font-weight: bold;*/
    font-size: 1.5rem;
    text-shadow: 2px 2px 5px black;
    position: relative
}

.back_img {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.p_inicio {
    margin-left: 2rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: flex-end;
}

.bloque-inicio {
    color: rgb(166, 166, 166);
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.p_bloque {
    width: 100%;
    height: 10rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.p_bloque p {
    font-family: fantasy;
    color: rgb(52, 51, 51);
    /*font-weight: bold;*/
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

.nombre_etiqueta {
    height: 100%;
    width: 30%;
    display: flex;
    align-self: flex-end;
}

.galeria {
    margin-bottom: 5rem;
    border-radius: 8px;
    max-width: 600px;
    min-width: 400px;
    height: 60%;
    background-image: url(../imagenes/birra2.jpg);
    background-size: cover;
    background-position: center;
}

.galeria .nombre_etiqueta {
    margin-top: 8rem;
    margin-left: 2rem;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.galeria .nombre_etiqueta a {
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

.variedades .nombre_etiqueta p {
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

.contacto .nombre_etiqueta a {
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

.nosotros {
    margin-bottom: 5rem;
    border-radius: 3px;
    max-width: 600px;
    min-width: 400px;
    height: 60%;
    background-image: url(../imagenes/birra3.jpg);
    background-size: cover;
    background-position: center;
}

.nosotros .nombre_etiqueta {
    margin-top: 8rem;
    margin-left: 2rem;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

.nosotros .nombre_etiqueta a {
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}



.contacto {
    margin-bottom: 5rem;
    border-radius: 3px;
    max-width: 600px;
    min-width: 400px;
    height: 60%;
    background-image: url(../imagenes/birra7.jpg);
    background-size: cover;
    background-position: center;
}

.contacto .nombre_etiqueta {
    margin-top: 8rem;
    margin-left: 2rem;
    height: 3rem;
    width: 30%;
    display: flex;
    align-items: center;
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

.contacto .nombre_etiqueta a {
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

#inicio .back_img {
    background-image: url();
    background-size: cover;
    color: white;
    text-align: center;
}

#nosotros {
    position: relative;
    display: grid;
    background-color: beige;
}

#nosotros h2 {
    color: rgb(52, 51, 51);
    font-size: 35px;
    position: relative
}

#nosotros .bloque-inicio p {
    color: rgb(52, 51, 51);
    font-size: 16px;
}

#nosotros .back_img {
    background-image: url();
    background-size: cover;
    color: white;
    text-align: center;
}

#contactenos {
    position: relative;
    display: grid;
}

#contactenos h2 {
    color: rgb(179, 12, 8);
    font-size: 35px;
    position: relative
}

#contactenos .bloque-inicio p {
    color: rgb(52, 51, 51);
    font-size: 16px;
}

#contactenos .back_img {
    background-image: url();
    background-size: cover;
    color: rgb(52, 51, 51);
    text-align: center;
}

#galeria {
    position: relative;
    display: grid;
    background-color: beige;
}

#galeria h2 {
    font-family: fantasy;
    color: rgb(52, 51, 51);
    font-size: 35px;
    position: relative
}

#galeria .bloque-inicio p {
    color: rgb(52, 51, 51);
    font-size: 16px;
}

#galeria .back_img {
    background-image: url();
    background-size: cover;
    color: white;
    text-align: center;
}

#b1 {
    background-color: coral;
    color: rgb(52, 51, 51);
    border-radius: 3px;
    border: 1px solid #303030;
}


/* La siguiente linea modifica lo de arriba al pasar a un dispositivo de otra dimension*/

@media(max-width: 1000px) {
    body {
        font-size: 15px;
    }
    /* Lo siguiente oculta el menu */
    header .container nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color:beige;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 15px;
        padding-left: 15px;
        top: 0;
        left: 0;
        display: flex;
        /*flex-direction permite que los elementos esten en columan en vez de en fila*/
        flex-direction: column;
        /*transition permite setear las transicion de A a B*/
        transition: all 0.4s ease;
        /*transform permite animar las transitions*/
        transform: translateX(100%);
    }
    /* ponemos el menu hamburguesa*/
    header .container .hamb {
        display: block;
        font-size: 40px;
        color: rgb(96, 22, 233);
    }
    .grid_container {
        display: grid;
        /* Uso un atajo para definir tres filas / tres columnas */
        grid-template-columns: 1fr 1fr 1fr;
        /* separamos los items con gap */
        gap: 10px;
        /* Hacemos que el diseño ocupe casi el alto total del navegador */
        padding: 10px;
        background-color: beige;
    }
    footer {
        text-align: center;
    }
    footer .logo-footer {
        width: 50%;
    }
    footer .redes {
        justify-content: center;
    }
    .foot {
        grid-template-columns: 50% 50%;
        /* Distribuimos el contenido en cada fila */
        grid-template-areas: " img_grid autores_grid  " "redes_grid temas_grid";
    }
    .foot_img {
        max-width: 300px;
    }
    .formulario {
        grid-template-columns: 1fr 1fr;
        /* Distribuimos el contenido en cada fila */
        grid-template-areas: " form_grid empleado_grid""iframe_grid iframe_grid";
    }
}

@media(max-width: 767px) {
    body {
        font-size: 15px;
    }
    /* Lo siguiente oculta el menu */
    header .container nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: white;
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 15px;
        padding-left: 15px;
        top: 0;
        left: 0;
        display: flex;
        /*flex-direction permite que los elementos esten en columan en vez de en fila*/
        flex-direction: column;
        /*transition permite setear las transicion de A a B*/
        transition: all 0.4s ease;
        /*transform permite animar las transitions*/
        transform: translateX(100%);
    }
    /* ponemos el menu hamburguesa*/
    header .container .hamb {
        display: block;
        font-size: 40px;
        color: red;
    }
    .grid_container {
        display: grid;
        /* Uso un atajo para definir tres filas / tres columnas */
        grid-template-columns: 1fr;
        /* separamos los items con gap */
        gap: 10px;
        /* Hacemos que el diseño ocupe casi el alto total del navegador */
        padding: 10px;
    }
    footer {
        text-align: center;
    }
    footer .logo-footer {
        width: 50%;
    }
    footer .redes {
        justify-content: center;
    }
    .boton {
        background-color: coral;
    }
    .formulario {
        grid-template-columns: 100%;
        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "iframe_grid" " form_grid" "empleado_grid";
    }
    .foot {
        grid-template-columns: 100%;
        /* Distribuimos el contenido en cada fila */
        grid-template-areas: " img_grid" "autores_grid" "temas_grid" "redes_grid";
    }
}

main.nos {
    background-color: beige;
}

.top {
    background-color: beige;
}

.seccion {
    display: flex;  
    flex-wrap: wrap;
    padding: 1% 0% 1% 0%;
    justify-content: center;
    align-items: center;
}

.perfil {
    width: 13vw;
    margin: 0% 2.5% 2.5% 5%
}

h1.title {
    color: rgb(52, 51, 51);
    padding: 2%; 
    font-size: 4.5vw;
    font-family: fantasy;
    margin: 0;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

h2.sec {
    font-weight: bold;
    font-size: 3vw;
    font-family: fantasy;
    color: rgb(52, 51, 51);
    width: 100%;
    text-align: center;
    height: 50%;
    margin: 0% 0% 0% 0%;
    text-shadow: 2px 2px 3px rgb(157, 111, 111);
}

h3.nombre {
    color: rgb(52, 51, 51);
    font-size: 1.5vw;
    font-family: fantasy;
    margin: 0% 0% 0% 0%;
    text-align: center;
    width: 100%;
}

.parte {
    width: 100%;
    height: 30%;
    display: inline-flex;
}

p.about {
    color: rgb(52, 51, 51);
    font-size: 2.5vw;
    width: 50%;
    height: 50%;
    margin-left: 5%;
}

b {
    font-size: 1em;
}

#fotoprincipal {
    width: 45vw;
    height: 100%;
    margin: 0% 1% 7% 5%;
}

#face {
    color: rgb(66, 103, 178);
    text-decoration: none;
}

#face:visited {
    color: rgb(66, 103, 178);
}

.fotos {
    width: 97%;
    height: 97%;
    padding: 1.5% 1.5% 1.5% 1.5%;
    transition: transform 0.5s;
}

.fotos:hover {
    transform: scale(1.15);
}

#gridfotos {
    margin: 1% 5% 7% 5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    height: 40vw;
}

.lineas {
    background-color: white;
    height: 0.5vw;
    width: 35%;
    margin: 0% 2.5% 0% 2.5%;
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
}

.reviews {
    display: grid;
    margin: 1% 5% 1% 5%;
    justify-content: center;
    height: 70%;
    grid-template-rows: 30% 30% 30%;


}

.rev {
    border: 3px solid white;
    border-radius: 25px;
    height: 95%;
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-bottom: 5%;
    align-items: center;
    box-shadow: 4px 5px 20px 5px rgba(100, 100, 100, 0.3);
    background-color:rgb(44, 25, 25);
}

.textoreview {
    margin: 0% 0% 2.5% 5%;
    color: white;
    font-size: 1.75vw;
    width: 40%;
    height: 50%;
}

.subtitulo {
    width: 30%;
}

.checked {
    color: white;
}

.estrellas {
    margin: 0% 5% 0% 10%;
    font-size: 2.5vw;
}

.fa {
    color: rgb(212, 181, 0);
    text-shadow: 0px 0px 5px rgb(212, 181, 0);
    font-size: 2vw;
}
