h1{
    color:rgb(87, 100, 160);
}

header{
    background-color:rgb(50,62,117);
    border: rgb(50,62,117) 3px solid;
}

nav{
    background-color:rgb(176, 182, 209);
    margin: 2%;
    border: rgb(9, 19, 63) 1px solid;
}

body{
    background-color: rgb(132, 137, 159);
    margin: 0;
}

main{
    background-color: rgb(132, 137, 159);
    margin: 2%;
}

footer{
    background-color: rgb(176, 182, 209);
    border: rgb(50,62,117) 1px solid;
    margin: 2%;

}

.navegacion{
    width: 15%;
    border: rgb(87, 100, 160) solid;
}